@import '@radix-ui/colors/blackA.css';
@import '@radix-ui/colors/mauve.css';
@import '@radix-ui/colors/violet.css';
@import '@radix-ui/colors/blue.css';

:root {
  --blue: #1e90ff;
  --white: #ffffff;
  /* Viewport settings */
  --viewport-bg-color: #f3f3f3;
  /* Toolbar settings */
  --toolbar-height: 50px;
  --toolbar-bg-color: #2c2c2c;
  /* Sidebar settings */
  --sidebar-width: 50px;
  --sidebar-height: 300px;
  --sidebar-bg-color: #ffffff;
  --sidebar-border-color: #e6e6e6;
  /* Properties settings */
  --propsbar-width: 240px;
  --propsbar-bg-color: #ffffff;
  --propsbar-border-color: #e6e6e6;
}

body {
  margin: 0;
  overflow-x: hidden;
  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.form-control {
  padding: 5px;
}
